* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: auto;
  background-color: #532697ee;
  color: #fff;
  font-size: 1.2rem;
}
#heading {
  max-width: 750px;
  margin: 4rem auto;
  padding: 0.6rem;
}
#card {
  padding: 0% 20% 0% 20%;
  display: flex;
  align-items: center;
}

#title {
  font-size: 1rem;
  text-align: center;
  line-height: 10px;
}
#description {
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem;
  line-height: 10px;
}
#submit {
  background-color: #22d87d;
  color: #fff;
  padding: 1rem;
  font-size: 1.15rem;
  cursor: pointer;
  width: 100%;
  border: none;
}
#Submit:hover {
  background-color: rgba(9, green1, rgb(0, 0, 255));
}
.form {
  padding: 0.7rem;
  border-radius: 6px;
  font-size: 1rem;
  border: none;
  /*border-radius: 6px*/
  line-height: 10px;
}
#Name,
#Email,
#Age,
#dropdown {
  width: 100%;
  line-height: 20px;
  display: flex;
  align-items: center;
}
#comment-section {
  width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
  border-radius: 12px;
}
